= render "home/header"
.messages
  .messages__title
    Let's Request!
  .messages__main
    .messages__main__left
      .messages__main__left__title
        %h1
          勤務地一覧
        .messages__main__left__title__city
          .messages__main__left__title__city__area
            =link_to "#" do
              すべての都市
          .messages__main__left__title__city__area
            =link_to city_path(@messages) do
              東京
          .messages__main__left__title__city__area
            =link_to "#" do
              日本橋
          .messages__main__left__title__city__area
            =link_to "#" do
              銀座
          .messages__main__left__title__city__area
            =link_to "#" do
              新宿
          .messages__main__left__title__city__area
            =link_to "#" do
              池袋
          .messages__main__left__title__city__area
            =link_to "#" do
              渋谷
          .messages__main__left__title__city__area
            =link_to "#" do
              横浜
    .messages__main__right
      .messages__main__right__type
        %h1
          All
      .messages__main__right__requests
      -@messages.each do |message|
        .messages__main__right__requests__post
          .messages__main__right__requests__post__title
            = link_to message_path(message.id) do
              = message.title
          .messages__main__right__requests__contents
            .messages__main__right__requests__contents__day
              日付：
              = message.year
              年
              = message.month
              月
              = message.day
              日
            .messages__main__right__requests__contents__time
              .messages__main__right__requests__contents__time__start
                時間：
                = message.start.strftime('%H:%M')
                〜
              .messages__main__right__requests__contents__time__end
                = message.end.strftime('%H:%M')
            .messages__main__right__requests__contents__city
              場所：
              = message.city.name
















