= render "home/header"

.content
  .content__main
    = form_with model: @messages do |f|
      .content__main__box
        .text-bold
          タイトル
          %span.required
            必須
        = f.text_field :title, class:"content__main__box__field", placeholder: "40文字まで", maxlength: 40
        .text-bold
          日付
          %span.required
            必須
        = f.text_field :day, class:"content__main__box__field", placeholder: "40文字まで", maxlength: 40
        .text-bold
          勤務開始可能時間
          %span.required
            必須
        = f.text_field :start, class:"content__main__box__field", placeholder: "40文字まで", maxlength: 40
        .text-bold
          勤務終了希望時間
          %span.required
            必須
        = f.text_field :end, class:"content__main__box__field", placeholder: "40文字まで", maxlength: 40
        .text-bold
          時給
          %span.required
            必須
        = f.text_field :money, class:"content__main__box__field", placeholder: "40文字まで", maxlength: 40
        .text-bold
          都市
          %span.required
            必須
        = f.text_field :cities_id, class:"content__main__box__field", placeholder: "40文字まで", maxlength: 40
        .text-bold
          テキスト
        = f.text_field :text, class:"content__main__box__field", placeholder: "40文字まで", maxlength: 40
      .content__main__botton-box
        .content__main__botton-box__draft-botton
          = link_to root_path, id: "back-btn" do
            もどる
