= render "home/header"
.content__main
  .content__main__box
    %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .text-bold
        ニックネーム
      = f.text_field :nickname, class: "content__main__box__field", placeholder: "10文字以内"
      .text-bold
        年齢
        - age = ["--"]
        - for num in 18..80
          - age << num
      = f.select :age, age, {}, class: "content__main__box__field__age", placeholder: "年齢"
      .text-bold
        プロフィール
      = f.text_area :profile, class: "content__main__box__field__profile", placeholder: "255文字まで"
      .text-bold
        メールアドレス
      = f.email_field :email, class: "content__main__box__field", placeholder: "PC・携帯どちらでも可"
      .text-bold
        パスワード
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} 文字以上)
        %br/
      = f.password_field :password, class: "content__main__box__field", placeholder: "6文字以上の半角英数字"
      .text-bold
        パスワード確認
      = f.password_field :password_confirmation, class: "content__main__box__field", placeholder: "6文字以上の半角英数字"
      .text-bold
      = f.submit "Sign up", class: "content__main__box__field__sign-up"
= render "devise/shared/links"
